<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

    <main>

      <section class="jumbotron">
        <div class="container">
          <h1>Jessy Mangat's FS1020 Project</h1>
        </div>
      </section>


      <section class="container">
				<table class="table">
					<thead>
						<tr>
								<th>ID</th>
								<th>Player</th>
								<th>Number</th>
								<th>Team</th>
								<th>Price</th>
						</tr>
					</thead>

					<tbody>
						<% jerseys.forEach((jerseys) => { %>
								<tr>
									<td><%= jerseys.id %></td>
									<td><%= jerseys.player %></td>
									<td><%= jerseys.number %></td>
									<td><%= jerseys.team %></td>
									<td><%= jerseys.price %></td>
								</tr>
						<% }); %>
          </tbody>
			</table>
      </section>

    </main>

  </body>
</html>
